
/* //made by Kervin Zoren Bonaobra  */


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Noto Sans JP', sans-serif;
    color: #2E2C2C;
    box-sizing: border-box;
    /* outline: 1px solid black; */
    }
    .error{
        color: #cf000f;
        font-size: 0.75rem;
        text-align: center;
        background-color: #e0babc;
        border-radius: 10px;
        padding: 5px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    html, body{
        width: 100%;
        height: 100%;
        background-color: #1A2238;
    }
    .container{
        padding: 8vh 0 8vh 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login-form{
        max-width: 700px;
        max-height: 700px;
        width: 350px;
        display: flex;
        justify-content: center;
        background-color: #fff;
        border-radius: 20px;
        flex-direction: column;
        align-items: center; 
        padding: 40px;  
        font-weight: bold; 
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }

    .title{
        font-weight: 900;
        font-size: 3rem;
        width: 100%;
        text-align: left;
        margin-bottom: 5vh;
        color: #FF6A3D;
    }  
    #user-type{
        font-size: 1rem;
    }
    .inputs{
        text-align: left;
        display:  flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 3vh;
    } 

    .input-label{
        margin-bottom: 15px;
        font-size: 1.3em;
        font-weight: 100;
    }
    .input-area{
        margin-bottom: 15px;
        height: 35px;
        border-radius: 15px;
        padding: 20px;
        border: none;
        border-radius:7px;
        outline: none;
        background-color: rgba(223, 223, 223, 0.7)
    }
    .input-area:hover,.input-area:focus{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }
    .forgot-pass{
        margin-bottom: 15px;
    }
    .forgot-pass > a{
        transition: all 0.2s ease;
        font-weight: 900;
        font-size: 0.80rem;
        color: #FF6A3D;
        text-align: center;
    }
    .forgot-pass > a:hover{
        color: #797575;
    }
    .submit-button{
        background-color: #FF6A3D;
        color: white;
        padding: 14px;
        border-radius: 18px;
        border: none;
        width: 100%;
        text-align: center;
        font-size: 1.3em;
        margin-bottom: 10px;
        transition: all 0.2s ease;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }
    .submit-button:hover {
        transform: scale(1.1);
    }
    .create-acct{
        text-align: center;
    }
    #register-btn:hover{
        color: #dd3e0e;
    }
    #form-sub-heading{
        font-weight: 900;
        font-size: 0.9rem;
        color: #1A2238;
        text-align: center;
    }
    #register-btn{
        cursor: pointer;
        color: #FF6A3D;
        font-weight: 900;
        font-size: 0.9rem;
        text-align: center;
    }
    #footer{
        width: 100%;
        height: 40px;
        padding-top: 10px;
        position: relative;
        bottom: 0;
        left: 0;
        text-align: center;
        color:  rgb(153, 150, 139);
    }